{% extends "APiszczekDemoBundle:Layout:layout.html.twig" %}
{% block title %}Posty{% endblock %}
{% block pageHeader %}
    Lista Tematów
    <small></small>
{% endblock %}

{% block content -%}

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Slug</th>
                <th>Createat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            <div class="container">
            <div class="col-md-1">
                <a href="{{ path('thread_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size:55px; top:15px;"></span></a>
            </div>
            <div class="col-md-8">
                <h1>{{ entity.title }}</h1>
                <p>{{ entity.content }}</p>
                <div>
            <span class="badge">Posted {% if entity.createAt %}{{ entity.createAt|date('Y-m-d H:i:s') }}{% endif %}</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span></div>         
                 </div>
                <hr>
               
                </div>
                 <div class="col-md-2">
                 <p><ul>
                    <li>
                        <a href="{{ path('thread_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('thread_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                 </p>
                 </div>
            </div>
 
              
              <!--  
                </td>
            </tr>-->
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('thread_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
