{% extends "APiszczekDemoBundle:Overview:layout.html.twig" %}


{% block title %}O mnie{% endblock %}
{% block pageHeader %}
	O mnie
	<small></small>
{% endblock %}
{% block content %}

	<div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="{{picture}}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ name }} {{ surname}} </h3>
              
                <p>Zmuszony do programowania. Trzeba jakoś zarobić na jedzenie. Chce zostać programistą PHP, a tak po za tym to nauka mnie najbardziej interesuje.
                Dziękuje za uwagę.<p>
                <h4>Indeks: {{ album }} </h4>
                <h4>Grupa: {{ group }} </h4>

            </div>
        </div>
	

{% endblock %}